body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between; /* Esto alineará los elementos de la cabecera a los extremos */
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #f3f3f3;
    padding: 0 10px;
    justify-content: flex-end; /* Alinea los elementos hijos de header a la derecha */
    padding-right: 4px; /* Añade un poco de padding a la derecha si es necesario */
}

header nav {
    /* Esto alinea el enlace de 'Crear cuenta' a la derecha */
        margin-left: auto;
        margin-right: 20px; /* Ajusta este valor según necesites para evitar que se corte el contenido */
    
}

.contenedor {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px); /* Asegúrate de que el contenedor ocupe toda la altura menos la cabecera */
}

aside {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

aside > div {
    flex-grow: 1;
    padding: 10px;
    display: flex; /* Centra el contenido de los divs del aside */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

/* Colores específicos para cada sección de aside */
aside > div:nth-child(1) {
    background-color: #ffffff;
    /* Añade aquí la imagen de fondo cuando esté disponible */
}

aside > div:nth-child(2) {
    background-color: #4ad3cf;
}

aside > div:nth-child(3) {
    background-color: #5cdf48;
}

main {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el formulario */
form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
}

.campo input[type="text"],
.campo input[type="password"],
.campo input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón de envío */
.campo input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #4ad3cf;
    cursor: pointer;
}

.campo input[type="submit"]:hover {
    background-color: #3bc2b5;
}
